@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-principal: "Inter", sans-serif;
    --cor-principal: rgba(142, 36, 36, 1);
    --cor-fonte: gray;
}

body {
    font-family: var(--fonte-principal);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 15% 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 3.2rem;
}

.cabecalho__menu__item {
    text-decoration: none;
    color: var(--cor-fonte);
    font-size: 1rem;
    font-weight: 500;

}

.cabecalho__menu__item:hover {
    color: var(--cor-principal);
}

.cabecalho__menu__cadastro {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 32px;
}

.cabecalho__menu__cadastro__botao {
    text-decoration: none;
    background-color: rgba(142, 36, 36, 1);
    color: white;
    padding: 0.5rem;
    border-radius: 10%;
}

.cabecalho__menu__cadastro__botao:hover {
    color: var(--cor-principal);
    background-color: var(--cor-fonte);
}

.secao1 {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    text-align: center;
    width: 34%;
}

.secao1 p {
    padding: 5%;
    font-size: 20px;
    line-height: 24px;
}

.subtitulo__secao1 {
    color: var(--cor-principal);
    font-weight: 700;
    font-size: 16px;
}

.titulo__principal__secao1 {
    font-size: 48px;
}

.texto__secao1 {
    font-size: 20px;
    color: var(--cor-fonte);
}

.secao2 {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.secao2__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 17.5rem;
}

.secao2__item__titulo {
    font-size: 60px;
    color: var(--cor-principal);
}

.secao2__item__subtitulo {
    font-size: 18px;
}

.secao2__item__texto {
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-fonte);
}

.secao3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 150px 150px 50px 150px;
}

.imagem-reuniao {
    margin-top: 50px;
    width: 60%;
}

.subtitulo__secao3 {
    color: var(--cor-principal);
    font-weight: 700;
    font-size: 16px;
    background-color: rgb(253, 210, 210);
    border-radius: 10%;
    padding: 5px;
}

.titulo__principal__secao3 {
    font-size: 48px;
}

.texto__secao3 {
    font-size: 20px;
    color: var(--cor-fonte);
}

.secao4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.teste {
    margin: 0 auto;
}


.container__vagas__dev {
    width: 60rem;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 54px;
    
}

.container__vagas__design {
    width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.container__vagas__item {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 3%;
    border: 2px solid rgba(234, 236, 240, 1);
    border-radius: 16px;

}

.titulo__vagas {
    font-family: var(--fonte-principal);
    font-size: 20px;
}

.subtitulo__vagas {
    font-family: var(--fonte-principal);
    font-size: 18px;
}

.texto__vagas {
    font-family: var(--fonte-principal);
    font-size: 16px;
    color: var(--cor-fonte);
}

.depoimentos {
    margin-top: 80px;
}

.depoimentos__container {
    width: 45%;
    background-color: rgba(195, 25, 25, 0.03);
    margin: 0 auto;
    padding: 5rem;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 32px;
}

.depoimentos__container__subtitulo {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-principal);
}

.depoimentos__container__titulo {
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 36px;

}

.depoimentos__container2__nome {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 700;
}

.depoimentos__container2__cargo {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 500;
    color: var(--cor-fonte);
}